$white: #fff;
$black: #222;
$gray: #6d6e70;
$graymedium: #8c8c8c;
$graylight: #ddd;
$graylightest: #f5f5f5;

$navy: #0d3560;
$blue: #1173bd;
$bluemedium: #1aadff;
$bluelight: #03A9F4;
$bluelightest: #bfe3fb;
$lighterblue: lighten( $bluelightest, 9% );

$green: #008a1c;
$yellow: #ffc217;
$yellowlight: #fdf8de;
$gold: #f6921e;
$orange: #ff6700;
$red: #b61b28;
$purple: #6f5080;

$body-bg-color: #eee;
$body-text-color: $black;

$transparent: transparent;